@mixin mobile-center-container {
  @media screen and (max-width: 1000px) {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
}

.singleProductWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: 1000px) {
    display: flex;
  }

  .productTop {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }
  }

  form {
    @include mobile-center-container;
  }

  .productImage {
    width: 50rem;
    height: 50rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-center-container;

    @media screen and (max-width: 500px) {
      height: 35rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 1.8rem;
    font-weight: 600;
    color: green;
    margin-bottom: 2rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .optionSelector {
    margin-bottom: 2rem;

    .title {
      margin-bottom: 0.5rem;
    }

    .optionButtonsContainer {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  .quantitySelector {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .quantityButton {
      color: var(--primary-dark);
      background: none;
      border: none;
      cursor: pointer;
    }

    .quantityInput {
      width: 7rem;
      font-size: 1.6rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 0.5rem;
      text-align: center;
    }
  }

  .addToCartButton {
    width: 100%;
    max-width: 30rem;
    background-color: green;
    color: #ffffff;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    @media screen and (max-width: 500px) {
      max-width: none;
    }

    &:hover {
      background-color: darkgreen;
    }
  }

  .description {
    max-width: 90rem;

    @include mobile-center-container;
  }
}
